:root {
	/* Fonts */
	--main-font-primary: "Roboto", sans-serif;
	--main-font-secondary: "Montserrat", sans-serif;
	--main-font-tertiary: "Comfortaa", cursive;
    
	/* Colors */
	--green: #165D36;
	--white: #e9f0f2;
	--black: #0d0d0d;
	--pink: #d27575;
	--gray-blue: #769bb3;
}

h1, h2, {font-family: 'Montserrat', sans-serif; color: var(--green); text-transform: bold;}

h3{{font-family: 'Montserrat', sans-serif; color: var(--gray-blue); text-transform: bold;}

p{font-family: 'Raleway', sans-serif;}

.menu{font-family: 'Montserrat', sans-serif; color: var(--gray-blue);}

.center {height: 200px; position: relative;}
